.bsf-single-speaker-content-outer-wrapper {
  padding: var(--ps-huge) 0 var(--ps-large);

  @include media-query(tablet-small) {
    padding: 102px 0 var(--ps-medium);
  }

  @include media-query(phone) {
    padding: var(--ps-medium) 0;
  }

  .bsf-container {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--ps-medium);

    @include media-query(tablet-small) {
      gap: var(--ps-default);
    }
  }

  .bsf-single-speaker-description {
    p {
      @extend .bsf-large-text-style;
    }
  }

  .bsf-single-speaker-events-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--ps-default);

    .section-title {
      @extend .bsf-h3-style;

      text-transform: none;
    }
  }

  .bsf-events-list-wrapper {
    --cols: 3;

    @include media-query(tablet-small) {
      --cols: 1;
      flex-wrap: nowrap;
      overflow: auto;
      padding-bottom: var(--ps-default);
      gap: var(--ps-default);
      scroll-snap-type: x mandatory;


      .bsf-speaker-card {
        flex: 0 0 300px;
        max-width: 300px;
        scroll-snap-align: start;
      }
    }
  }
}